name: Computerraria Tests
run-name: Trigger Computerraria Tests
on:
  push:
    paths:
      - '**.cs'
jobs:
  trigger:
    name: Send Repository Trigger
    runs-on: ubuntu-latest
    steps:
      - name: Send gh command
        env:
          GITHUB_TOKEN: ${{ secrets.PAT_TOKEN }}
        run: |
          gh workflow --repo misprit7/computerraria run tests.yml


